
body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.game-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/background/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:40%;
    width: 30%;
    user-select: none;
    -webkit-user-drag: none;
}

#top-bar {
    width: 100%;   
    height: 30px;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 7em;
}

#bottom-bar {
    width: 100%;   
    height: 30px;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#pokemon-name{
    color: white;
}

#pokemon-health-bar{
    width: 50%;
    height: 1em;
    background-color: black;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 1em;
}

#health-fill{
    width: 100%;
    position: absolute;
    inset: 0;
    background-color: #EC4949;
    transition: width 0.3s ease;
}

#health-text{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 800;
    color: white;
    pointer-events: none;
}

#currency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#currency img {
    width: 24px;
    height: 24px;
}

.pokemon-list {
    height: 288px;
    overflow-y: scroll;
}

.caught-pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}