
.game-screen-container > div:not(#pokemon-health-bar) {
    margin: 20px;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/background/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:40%;
    width: 30%;
    user-select: none;
}

img {
    -webkit-user-drag: none;
}


#pokemon-health-bar{
    width: 50%;
    height: 1em;
    background-color: black;
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 20px;
}

#health-fill{
    width: 100%;
    position: absolute;
    inset: 0;
    background-color: #EC4949;
    transition: width 0.3s ease;
}

#health-text{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 800;
    color: white;
    pointer-events: none;
}