div {
    border: 1px solid red;
    padding: 20px;
    margin: 10px;
}

.game-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}